# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
*.gem

# Ruby
.bundle/
.byebug_history
.rspec
*.rbc
Gemfile.lock
*.log

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Editor
.vscode/
.idea/
*.sublime-*
